/* Estilo de la barra de navegación */
body {
  margin: 0;
  padding: 0;
  background: white;
}
header {
  background-color: #7e7878;
  padding: 15px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #9018d6;
}


#miImagen {
object-fit: cover;
  width: 25%;
  height: 25%;
  display: block;
  margin: 20px auto;
  /*border: 2px solid #a9abb4;*/
  /*border-radius: 10px;*/
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
}