/* Body centrado*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Estilo de la barra de navegación */
header {
  background-color: #7e7878;
  padding: 15px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #9018d6;
}

.contenedor {
  text-align: center;
  background-color: white;
  padding: 40px;
}

select {
  margin: 0 5px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
