/* Body centrado*/
body {
  margin: 0;
  padding: 0;
  background: white;
}

/* Estilo de la barra de navegación */
header {
  background-color: #7e7878;
  padding: 15px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #9018d6;
}

h1 {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grupo {
  /*border: 2px solid #a9abb4;*/
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-bottom: 10px;
  border-radius: 10px;
  gap: 30px;
}
.grupo > img {
  width: 200px;
  border: 2px solid #a9abb4;
}
#cantidad {
  width: auto;
}
.estado {
  text-align: center;
}
.estado > #verificar {
  width: 100px;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
  }

  main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .grupo > img {
    width: 80%;
    max-width: 300px;
  }

  #cantidad,
  .estado > #verificar {
    width: 80%;
    max-width: 200px;
  }
}
